{{#if error_msg}}
    <div class="popup-dialog-msg shadow dialog-msg">
        <div class="d-flex w-100 mt-1">
            <div class="ml-auto mr-2">
                <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();"></i>
            </div>
        </div>
        <div class="mx-3 mb-3">
            <h6 class="text-danger"><strong>{{error_msg}}</strong></h6>
        </div>
    </div>
{{/if}}

{{#if success_msg}}
    <div class="popup-dialog-msg shadow dialog-msg">
        <div class="d-flex w-100 mt-1">
            <div class="ml-auto mr-2">
                <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();"></i>
            </div>
        </div>
        <div class="mx-3 mb-3">
            <h6 class="text-success"><strong>{{success_msg}}</strong></h6>
        </div>
    </div>
{{/if}}