<div class="container-fluid" style="color: #332C1F;">

    <!-- {{!-- HEADER --}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div> -->

    <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f; position: sticky"></a>&nbsp;{{title}}&nbsp;</h3>

    <div class="row">
        {{!-- <div class="col-lg-12 col-xl-12 col-xxl-12"> --}}
        <div class="col-lg-12 col-lg-12 col-xxl-12">

            {{!-- CARD --}}
            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">

                      {{!-- START CARD HEADER --}}
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    
                    <div class="col" style="max-width: 70px; padding-top: 2px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='window.location="/farm_monitor_test"'> <!-- Replace later to window.location -->
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                    </div>

                    <div class="col" style="margin-right: 650px; padding-top: 15px">
                        <h6>New Farm </h6>
            
                    </div>


                    {{!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: #BDBE14;font-weight: bold;border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;">Farms</button><a class="btn btn-primary" role="button" style="margin-left: 10px;background: rgba(189,190,20,0);border-style: none;border-color: var(--bs-pink);padding: 4px 10px;" href="Materials.html">Materials</a></div> --}}
                    {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                        </div>
                    </div> --}}
                </div>
                {{!-- END CARD HEADER --}}

                {{!-- START CARD BODY --}}
                <div class="card-body">

                    {{!-- START FORM --}}
                    <form method="post" id="create_farm_form">

                    <div class="tab">
                    <div class="modal_body_content" id="body_step1">
                            <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Step 1: Add Farm Details</h5>

                            <div class="form-group">
                                <label for="farmName">Name</label>
                                <input type="text" class="form-control" id="farmName" placeholder="Name" name="farm_name" oninput="this.className = 'form-control'" required>
                            </div>
                           
                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col" style="padding-top: 5px;">
                                <label for="landType">Land Type</label>
                                <select class="form-select" id="landType" name="land_type" required>
                                    <option value="Lowland" selected>Lowland</option>
                                    <option value="Upland">Upland</option>
                                </select>

                                </div>
                                
                                <div class="col" style="padding-top: 5px;">
                                <label for="farmManager">Farm Manager</label>
                                <select class="form-select" name="farm_mngr" id="farm_mngr_cont" required>
                                </select>
                                </div>

                                </div>
                            </div>

                             <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="5" id="description" placeholder="Description" name="farm_desc" maxlength="44"></textarea>
                            </div>
               
                    </div>
                     </div>

                     <div class="tab">
                    <div class="hide modal_body_content" id="body_step2">
                            <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Step 2: Add Plot Details</h5>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="Address" oninput="this.className = 'form-control'">
                            </div>

                             <div class="form-group">
                                <label for="geotags" id="geotag_lbl" style="font-weight: bold;">Pin Geotag Coordinates</label>
                                
                                {{!-- <div id="floating-panel">
                                    <input id="hide-markers" type="button" value="Hide Markers">
                                    <input id="show-markers" type="button" value="Show Markers">
                                    <input id="delete-markers" type="button" value="Delete Markers">
                                </div> --}}

                            </div>

                            {{!-- MAPBOX --}}

                            <div id="map" style="margin:0 auto;">
                            </div>

                            <div class="form-group" style="background-color: #EEEEEE; padding: 20px; border-radius: 10px;  outline: 1px solid #e3e6f0; margin-top: 40px">      
                        
                                <label for="" style="font-weight: bold">Location Details</label>
                                        <div class="row" style="padding-left: 5px;">
                                        
                                        <div class="col">
                                           <div class="container-fluid">
                                            <input type="hidden" form="create_farm_form" name="polygon_area" id="polygon_area" value="">
                                            <div id="calculated-area">
                                                 <p>Click the map to draw a polygon.</p>

                                            </div>
                                        </div>

                                        </div>

                                    </div>

                                    
                                    <div class="row" style="padding-left: 5px;">
                                        
                                        <div class="col">
                                           <div class="container-fluid">
                                            <label class="hide" id="coordinate_lbl" style="font-weight: bold">Coordinates</label>
                                            <div id="show-coords">
                                                 <p></p>
                                            </div>
                                        </div>

                                        </div>

                                    </div>

                            </div>

                                {{!-- END OF MAPBOX --}}

                   
                    </div>
                     </div>

                     <div class="tab">
                    <div class="hide modal_body_content" id="body_step3">
                        <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Step 3: Assign Employees</h5>

                        <div class="">
                            <label for="" style="font-weight: bold;">Farm Workers:</label>
                            <div class="container" id="">
                                <div class="row" id="">
                                    
                                </div>
                            </div>

                            <div class="container" id="">
                                <small id="" class="form-text text-muted">Unassigned workers</small>
                                <div class="row" id="unassigned_frmr_cont">
                                    
                                </div>
                            </div>

                            <div class="container" id="">
                                <small id="" class="form-text text-muted">Assigned workers</small>
                                <div class="row" id="assigned_frmr_cont">
                                    
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    </div>

                    </form>
                    {{!-- END FORM --}}

                    <!-- <div class="float-right text-right">
                            <button type="submit" class="btn btn-secondary" id="cancel" onclick="goBack()">X</button>
                            <button type="submit" class="btn btn-primary" id="addFarm" for>Next</button>
                    </div> -->

                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;padding-bottom:10px">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                    <div class="modal-footer">
                        <div class="modal_footer_content" id="_step1">
                            <button type="button" class="btn round btn-secondary" value="create_farm_form" onclick="goBack();">Cancel</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step2" onclick="nextPrev(1); checkContainer();">Next</button> 
                        </div>

                        <div class="hide modal_footer_content" id="_step2">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step1" onclick="nextPrev(-1)">Back</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step3" id="queueFarmers" onclick="nextPrev(1)">Next</button>
                        </div>

                        <div class="hide modal_footer_content" id="_step3">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step2" onclick="nextPrev(-1)">Back</button>
                            <button type="submit" class="btn round btn-primary" form="create_farm_form">Submit</button>
                        </div>
                            
                      </div>

                </div>
                {{!-- END CARD BODY --}}
                
            </div>
        </div>
    </div>
</div>

<script>
    var view = "add_farm";
function goBack() {
  window.history.back();
}

// MULTI-STEP FROM INDICATORS

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n);
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");

  
  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;

  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);

}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";

}

</script>

<script src="../js/add_polygon.js"></script>
