<div class="container-fluid" style="color: #332C1F;">

     <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;"></a>&nbsp;Diagnose&nbsp;</h3>

    <!-- {{!-- HEADER --}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div> -->

    <div class="row">
        {{!-- <div class="col-lg-12 col-xl-12 col-xxl-12"> --}}
        <div class="col-lg-12 col-lg-12 col-xxl-12">

            {{!-- CARD --}}
            <div class="card shadow mb-4" style="max-width: 1150px; margin: 0px auto;">

                {{!-- START CARD HEADER --}}
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    
                    <div class="col" style="max-width: 70px; margin-bottom: 10px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='window.location="/pest_and_disease/diagnose"'> <!-- Replaced the javascript back function because the page top function is also being considered in the window history -->
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                    </div>

                    <div class="col" style="margin-right: 650px; margin-bottom: 0px">
                        <h6>New Pest </h6>
            
                    </div>


                    {{!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: #BDBE14;font-weight: bold;border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;">Farms</button><a class="btn btn-primary" role="button" style="margin-left: 10px;background: rgba(189,190,20,0);border-style: none;border-color: var(--bs-pink);padding: 4px 10px;" href="Materials.html">Materials</a></div> --}}
                    {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                        </div>
                    </div> --}}
                </div>
                {{!-- END CARD HEADER --}}

                {{!-- START CARD BODY --}}
                <div class="card-body">

                {{!-- START FORM --}}
              	<form autocomplete="off" method="post" action="" id="add_pest_form">
                    
                    {{!-- STEP 1 --}}
                    <div class="tab">
                    <div class="modal_body_content" id="body_step1">
                            <h5 for="" style="font-weight: bold; padding-bottom: 5px; padding-top: 10px">Step 1: Add Pest Information</h5>

                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col">
                                <label for="pest_ID">Pest ID <span style="color: #CA4E0C;">*</span></label>
			                    <input type="text" class="form-control" id="pest_ID" name="pest_ID" value="P-xx" disabled>

                                </div>

                                <div class="col">
                                <label for="pest_name">Pest Name <span style="color: #CA4E0C;">*</span></label>
                                <input type="text" class="form-control" id="pest_name" name="pest_name" placeholder="Pest Name" required>

                                </div>

                                </div>
                            </div>
                            
                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col">
                                <label for="pest_name">Scientific Name</label>
                                <input type="text" class="form-control" id="pest_scientific_name" name="pest_scientific_name" placeholder="Scientific Name">

                                </div>

                                </div>
                            </div>

            {{!-- SYMPTOMS --}}
            <h6 style="font-weight: bold; margin-top: 40px">Symptoms</h6>

             <div class="form-group" style="margin-left: 5px;">
                
                <div class="row">

                    <div class="col" style="padding-top: 10px;">
                   
                    <label for="pest_desc">Description  <span style="color: #CA4E0C;">*</span></label>
                    <textarea class="form-control" rows="5" id="pest_desc" placeholder="Description" name="pest_desc" required></textarea>
                    </div>
                  
                </div>
            </div>

       
            {{!-- END OF SYMPTOMS --}}


            </div>
            </div>
            {{!-- END OF STEP 1 --}}

            {{!-- STEP 2 --}}
            <div class="tab">
                <div class="hide modal_body_content" id="body_step2">
                    <h5 for="" style="font-weight: bold;  padding-bottom: 5px; padding-top: 10px">Step 2: View Pesticide Application Plan</h5>

                    {{!-- START CARDS --}}
                    <div class="row" style="margin-top: 20px">

                    {{!-- PEST/DISEASE INFORMATION CARD --}}
                        <div class="col-lg-5 col-xxl-4">         
                          <div class="card shadow mb-4">

                            <div class="card-header py-3" style="background: #332C1F;height: auto;">
                              <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pest<br></h6>
                            </div>

                            <div class="card-body" style="height: 239.97px;">

                              <div class="table-responsive" style="border-style: none;">
                                <table class="table">
                                  <thead>
                                    {{!-- <tr></tr> --}}
                                  </thead>

                                  <tbody>
                                    <tr style="border-style: none;">
                                      <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Pest ID<br></span> <span class="d-xxl-flex justify-content-xxl-start">P-01<br></span></td>
                                      <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Pest Name<br></span><span class="d-xxl-flex justify-content-xxl-start">Pest Name<br></span></td>
                                    </tr>

                                    <tr style="border-style: none;">
                                      <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Symptoms<br></span><span class="d-xxl-flex justify-content-xxl-start">[Symptoms]<br></span></td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                                                   
                            </div>
                          </div>
                        </div>
                    {{!-- END OF PEST/DISEASE INFORMATION CARD --}}


                     {{!-- PEST APPLICATION PLAN CARD --}}
                          <div class="col-lg-7 col-xxl-8">

                                  <div class="card shadow mb-4">
                                      <div class="card-header py-3" style="background: #332C1F;height: auto;">
                                          <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pesticide Application Plan Information<br></h6>
                                      </div>
                                  <div class="card-body">
                                      <div class="table-responsive" style="border-style: none;">
                                        <table class="table">
                                            <thead>
                                              {{!-- <tr></tr> --}}
                                            </thead>
                                          <tbody>
                                            <tr style="border-style: none;">
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Pesticide<br></span> <span class="d-xxl-flex justify-content-xxl-start">Pesticide Name<br></span></td>
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Chemical Rate<br></span><span class="d-xxl-flex justify-content-xxl-start">Qty /ha<br></span></td>
                                            </tr>

                                            <tr style="border-style: none;">
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">From Date<br></span><span class="d-xxl-flex justify-content-xxl-start">From Date<br></span></td>
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">To Date<br></span><span class="d-xxl-flex justify-content-xxl-start">To Date<br></span></td>
                                            </tr>

                                            <tr style="border-style: none;">
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Water Rate<br></span><span class="d-xxl-flex justify-content-xxl-start">Qty gal/ha<br></span></td>
                                              <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Effectivity Rating<br></span><span class="d-xxl-flex justify-content-xxl-start">0.00%<br></span></td>
                                            </tr>
                                          </tbody>

                                          </table>
                                      </div>
                                      
                                    </div>

                                  </div>

                          </div>
                        {{!-- END OF PEST APPLICATION PLAN CARD --}}

                    </div>

                </div>
            </div>
            {{!-- END OF STEP 2 --}}

                    </form>
                    {{!-- END FORM --}}

                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;padding-top:40px;padding-bottom:10px">
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                    <!-- <div class="float-right text-right">
                            <button type="submit" class="btn btn-secondary" id="cancel" onclick="goBack()">X</button>
                            <button type="submit" class="btn btn-primary" id="addFarm" for>Next</button>
                    </div> -->

                    <div class="modal-footer">
                        <div class="modal_footer_content" id="_step1">
                            <button type="button" class="btn round btn-secondary" onclick='window.location="/pest_and_disease/diagnose"'>Cancel</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step2" onclick="nextPrev(1)">Next</button>
                        </div>

                        <div class="hide modal_footer_content" id="_step2">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step1" onclick="nextPrev(-1)">Back</button>
                            <button type="submit" class="btn round btn-primary" form="add_pest_form">Submit</button>
                        </div>

                    </div>

                </div>
                {{!-- END CARD BODY --}}

            </div>
        </div>
    </div>
</div>

<script>
    var view = "pest_and_disease_add_pest";
function goBack() {
  window.history.back();
}

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;

  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

</script>

{{!-- <script src="../js/crop_calendar.js"></script> --}}