

<div class="p-3">
	<form autocomplete="off" method="post" action="/create_crop_plan" id="crop_calendar_form">
		<div class="form-group">
			<label for="exampleInputEmail1">Crop Plan: </label>
			<input type="text" class="form-control" id="crop_plan" name="crop_plan" placeholder="">
		</div>
			

		<div class="form-group">
			<label for="exampleFormControlSelect1">Farm:</label>
			<select class="form-control" id="farm_id" name="farm_id">
			</select>
		</div>


		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-2 col-form-label">Description: </label>
		    <div class="" id="farm_desc">
		      
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-2 col-form-label">Land Type: </label>
		    <div class="" id="land_type">
		      
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-2 col-form-label">Farm Area: </label>
		    <div class="" id="farm_area">
		      
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="exampleInputEmail1">Land Prep Date: </label>
		    <input type="date" class="form-control" id="land_prep_date" name="land_prep_date" aria-describedby="emailHelp" placeholder="">
		  </div>

		  <div>
		  <div class="forecast_cont" id="">
		  	<label for="exampleInputEmail1">14-Day Weather Forecast: </label>

			<div class="mx-4 bg-secondary forecast_body">
				<div class="d-flex w-100 px-3 py-2" style="min-height: 50px;">
					<div class="" id="icon_detail" style="font-size: 40px;">
						icon
					</div>
					<div class="px-2 d-flex">
						<div style="font-size: 24px;" id="temp_detail">
							Temp
						</div>
						<div style="font-size: 12px;">°C</div>
					</div>
					<div class="" style="font-size: 12px;">
						<div>
							<span>Precipitation: </span>
							<span id="precipitation_detail">a</span>
						</div>
						<div>
							<span>Humidity: </span>
							<span id="humidity_detail">a</span>
						</div>
						<div>
							<span>Rainfall: </span>
							<span id="rainfall_detail">a</span>
						</div>
					</div>
					<div class="ml-auto d-flex flex-column float-right">
						<span>Soccoro, Oriental Mindoro</span>
						<span id="weather_day_detail"></span>
						<span id="weather_desc_detail"></span>
					</div>
				</div>

				<div id="" class="" data-touch="false" data-interval="false" data-ride="carousel" style="height: 100px;">
				  <div class="carousel-inner" id="carousel_inner">

				  </div>
				</div>
			</div>

			<ol class="carousel-indicators hide" id="page">
			    <li onclick="switchWeek(0, this)" class="active"></li>
			    <li onclick="switchWeek(1, this)"></li>
			</ol>

			</div>


			<div class="d-flex mt-2">
			    <label for="staticEmail" class="">Weather Outlook: </label>
			    <div class="mx-2 font-weight-bold" id="weather_outlook">
			      
			    </div>
			</div>

			<div class="form-group row d-flex flex-column">
			    <label for="staticEmail" class="mx-3">Summary: </label>
			    <div class="mx-3" id="weather_summary">
			      
			    </div>
			</div>

		  </div>

		  <div class="w-100 my-4" style="height: 5px; background: black;"></div>

		  <div class="form-group">
				<label for="">Seed</label>
				<select class="form-control" id="seed_id" name="seed_id">
				</select>
			</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Seed Rate: </label>
			<input type="text" class="form-control" id="seed_rate" name="seed_rate" aria-describedby="emailHelp" placeholder="">
		</div>

		<div class="form-group">
		    <label for="exampleInputEmail1">Sowing Date: </label>
		    <input type="date" class="form-control" id="sowing_date" name="sowing_date" aria-describedby="emailHelp" placeholder="">
		</div>

		<div class="form-group">
			<label for="exampleFormControlSelect1">Planting Method:</label>
			<select class="form-control" id="planting_method" name="planting_method">
				<option value="Irrigation" selected>Irrigation</option>
				<option value="Non-Irrigation">Non-Irrigation</option>
			</select>
		</div>

		<div class="w-100" style="height: 5px; background: black;"></div>

		<div class="d-flex mt-2">
		    <label for="staticEmail" class="">Expected Yield: </label>
		    <div class="mx-2 font-weight-bold" id="yield_forecast">
		      
		    </div>
		</div>

		<div class="mb-5">
			<button type="submit" class="btn btn-primary float-right">Submit</button>
		</div>

	</form>

</div>

<script src="../js/crop_calendar.js"></script>
