<div class="container-fluid">
    <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;">Farms</h3>
    <!-- Weather Forecast -->
    <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-7">
            <div class="table-responsive" style="border-style: none;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Tue</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-meatball justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Wed</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Thu</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-poo-storm justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Fri</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sat</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sun</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Weather Data -->
    <div class="row mb-3">
        <div class="col-xxl-6" >
            <div class="card d-xxl-flex align-items-xxl-start h-100" style="">
                <!-- Map -->
                <div class="card-body w-100 h-100" id="monitor_map">
                    
                </div>
            </div>
        </div>
        <!-- Imagery Data -->
        <div class="col-xxl-3">
            <div class="card d-xxl-flex align-items-xxl-start">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Current Weather</h4>
                    <div>
                        <div></div>
                        <div class="row">
                            <div class="col-xxl-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clouds" style="font-size: 100px;color: #332c1f;">
                                    <path d="M16 7.5a2.5 2.5 0 0 1-1.456 2.272 3.513 3.513 0 0 0-.65-.824 1.5 1.5 0 0 0-.789-2.896.5.5 0 0 1-.627-.421 3 3 0 0 0-5.22-1.625 5.587 5.587 0 0 0-1.276.088 4.002 4.002 0 0 1 7.392.91A2.5 2.5 0 0 1 16 7.5z"></path>
                                    <path d="M7 5a4.5 4.5 0 0 1 4.473 4h.027a2.5 2.5 0 0 1 0 5H3a3 3 0 0 1-.247-5.99A4.502 4.502 0 0 1 7 5zm3.5 4.5a3.5 3.5 0 0 0-6.89-.873.5.5 0 0 1-.51.375A2 2 0 1 0 3 13h8.5a1.5 1.5 0 1 0-.376-2.953.5.5 0 0 1-.624-.492V9.5z"></path>
                                </svg>
                                <!-- <div class="" id="monitor_icon">
                                    
                                </div> -->
                            </div>
                            <div class="col" style="color: #332c1f;"><span class="d-xxl-flex justify-content-xxl-end" style="color: #332c1f;" id="monitor_temp"></span><span class="d-xxl-flex justify-content-xxl-end align-items-xxl-center" style="color: #332c1f;" id="monitor_desc"></span></div>
                        </div>
                    </div>
                    <!-- Don't have this yet -->
                    <!-- <div class="row" style="color: #332c1f;">
                        <div class="col" style="color: #332c1f;">
                            <h6 class="text-muted mb-2" style="color: #332c1f;">Precipitation will start within 41 minutes.</h6>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Temp -->
            <div class="hide d-flex flex-column w-25 mx-3 bg-secondary rounded px-3 py-2" id="statistics_ndvi">
                <label>NDVI</label>
                <table class="table monitor_statistics">
                    <tr>
                        <th id="ndvi_date" colspan="2">date</th>
                    </tr>
                    <tr>
                        <td>Max</td>
                        <td id="statistics_max"></td>
                    </tr>
                    <tr>
                        <td>Mean</td>
                        <td id="statistics_mean"></td>
                    </tr>
                    <tr>
                        <td>Median</td>
                        <td id="statistics_median"></td>
                    </tr>
                    <tr>
                        <td>Min</td>
                        <td id="statistics_min"></td>
                    </tr>
                    <tr>
                        <td>Deviation</td>
                        <td id="statistics_deviation"></td>
                    </tr>
                </table>
            </div>
            <div class="card" style="margin-top: 24PX;">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Current Soil Data</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="color: #332c1f;">Temperature at the surface</td>
                                    <td style="color: #332c1f;" id="monitor_surface_temp"><br></td>
                                </tr>
                                <tr style="color: #332c1f;">
                                    <td style="color: #332c1f;">Temperature at the depth of 10cm</td>
                                    <td style="color: #332c1f;" id="monitor_ground_temp"><br></td>
                                </tr>
                                <tr style="color: #332c1f;">
                                    <td style="color: #332c1f;">Soil Moisture</td>
                                    <td style="color: #332c1f;" id="monitor_soil_moisture"><br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card" style="height: 480PX;">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">All Farms</h4>
                    <ul class="list-group" id="monitor_farm_list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Farm Details -->
    <div class="row mb-3">
        <div class="col-lg-8 col-xxl-9 offset-xxl-0">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h4 class="text-dark mb-0">Farm 1</h4><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="Pests-Diseases.html" style="background: #EDD172;color: #332c1f;font-size: 16px;border-radius: 20px;padding: 8px 12px;border-style: none;">View Details</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username"><strong>Description</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: rgb(0,0,0);"><strong id="monitor_desc"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Address</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name" style="color: rgb(0,0,0);"><strong>Zone 4, Barangay 1, Leuteboro 1</strong></label></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name"><strong>Farm Type</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name" style="color: rgb(0,0,0);"><strong id="monitor_land_type"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farm Area</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name" style="color: rgb(0,0,0);"><strong id="monitor_farm_area"></strong></label></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name"><strong>Farm Manager</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name" style="color: rgb(0,0,0);font-size: 16px;"><strong id="monitor_farm_mngr"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Crop Cycle</strong></label></div>
                            <div class="accordion d-flex justify-content-xxl-center" role="tablist" id="accordion-1" style="width: auto;">
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image27.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Land Preparation</span></h2>
                                    <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Column 1</th>
                                                            <th>Column 2</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cell 1</td>
                                                            <td>Cell 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cell 3</td>
                                                            <td>Cell 4</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image25.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Sowing Stage</span></h2>
                                    <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Column 1</th>
                                                            <th>Column 2</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cell 1</td>
                                                            <td>Cell 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cell 3</td>
                                                            <td>Cell 4</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image25.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Fertilizing Stage</span></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4" style="background: rgb(237,209,114);"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image28.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Pesticide Application</span></h2>
                                    <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image29.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Harvest</span></h2>
                                    <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farm Resources</strong></label></div>
                            <div class="row space-rows">
                                <div class="col offset-xxl-0">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="flip-left" data-aos-duration="950">
                                        <div class="card-header" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-1" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Seeds</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Seed 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Seed 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Seed 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;padding: 10px 12px;" href="Pests-Diseases.html">View more</a></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="slide-right" data-aos-duration="950">
                                        <div class="card-header" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-2" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Fertilizer</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Ferilizer 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Item 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Item 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;padding: 10px 12px;" href="Pests-Diseases.html">View more</a></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="flip-up" data-aos-duration="950">
                                        <div class="card-header cards-header-hover" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-3" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Pesticides</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Pesticide 1</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pesticide 2</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pesticide 2</td>
                                                            <td>20kg</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-body"><a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;padding: 10px 12px;" href="Pests-Diseases.html">View more</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Pest and Diseases</strong></label></div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">Name</th>
                                            <th>Type</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left;">Rats</td>
                                            <td>Pest</td>
                                            <td>March 05, 2021</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Rice Caseworm</td>
                                            <td>Pest</td>
                                            <td>March 05, 2021</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Bacterial Blight</td>
                                            <td>Disease</td>
                                            <td>March 05, 2021</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farmer Queries</strong></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Warning Log</h4>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var view = 'farm_monitoring';
    var type = 'Weather';
</script>