
<div class="mx-3 d-flex" style="height: 400px">
	<div class="w-50" id="monitor_map">
		
	</div>

	<div class="hide d-flex flex-column w-25 mx-3 bg-secondary rounded px-3 py-2" id="statistics_ndvi">
		<label>NDVI</label>
		<table class="table monitor_statistics">
			<tr>
				<th id="ndvi_date" colspan="2">date</th>
			</tr>
			<tr>
				<td>Max</td>
				<td id="statistics_max"></td>
			</tr>
			<tr>
				<td>Mean</td>
				<td id="statistics_mean"></td>
			</tr>
			<tr>
				<td>Median</td>
				<td id="statistics_median"></td>
			</tr>
			<tr>
				<td>Min</td>
				<td id="statistics_min"></td>
			</tr>
			<tr>
				<td>Deviation</td>
				<td id="statistics_deviation"></td>
			</tr>
		</table>
	</div>

	<div class="d-flex flex-column w-25 mx-3" id="statistics_weather">
		<div class="bg-secondary rounded px-3 py-2">
			<label>Weather</label>
			<div class="d-flex">
				<div id="monitor_icon">Icon</div>
				<div class="d-flex flex-column ml-auto">
					<div id="monitor_temp">Temp</div>
					<div id="monitor_desc">Description</div>
				</div>
			</div>
		</div>
		<div class="bg-secondary mt-3 rounded px-3 py-2">
			<label>Soil Data</label>
			<div class="d-flex flex-column">
				<div class="d-flex">
					<div>Surface Temp</div>
					<div class="ml-auto" id="monitor_surface_temp">Num</div>
				</div>
				<div class="d-flex">
					<div>Ground Temp (10cm beneath surface)</div>
					<div class="ml-auto" id="monitor_ground_temp">Num</div>
				</div>
				<div class="d-flex">
					<div>Soil Moisture</div>
					<div class="ml-auto" id="monitor_soil_moisture">Num</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-secondary w-25 rounded px-3 py-2">
		<div class="d-flex">
			<label>Farms</label>
			<div class="ml-auto">
				<div class="d-flex">
					<button class="btn btn-success" id="toggle_ndvi">NDVI</button>
					<button class="btn btn-info" id="toggle_weather">Weather</button>
				</div>
			</div>
		</div>
		<ul id="monitor_farm_list">

		</ul>
	</div>
</div>

<div class="mx-3 mt-4 h-50 px-3 py-2 rounded bg-secondary">
	<div class="">
		<label>Farm Name</label>

		<div class="d-flex flex-column">
			<small>Farm Manager</small>
			<label id="monitor_farm_mngr">Manager Name</label>
		</div>

		<div class="d-flex">
			<div>
				<small>Farm Type</small>
				<label id="monitor_land_type">Type</label>
			</div>

			<div class="mx-3">
				<small>Farm Area</small>
				<label id="monitor_farm_area">Area</label>
			</div>

			<div>
				<small>Farm Desc</small>
				<label id="monitor_desc">Desc</label>
			</div>
		</div>

		<div class="">
			<small>Assigned Farmers</small>
			<table class="table mt-3" style="width: 450px;" id="monitor_farmers_table">

			</table>
		</div>
	</div>

	<small>Active Crop Calendar</small>
	<div class="d-flex mt-3">
		<div class="">
			
		</div>
		<div class="">
			
		</div>
	</div>

</div>

<script>
	var view = 'farm_monitoring';
	var type = 'Weather';
</script>