<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    <div class="btn-group" role="group"><a class="btn btn-primary" role="button" style="background: rgba(189,190,20,0);border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;" href="Farms.html">Farms</a><button class="btn btn-primary" type="button" style="margin-left: 10px;background: #BDBE14;border-style: none;border-color: var(--bs-pink);padding: 4px 10px;border-radius: 10px;font-weight: bold;">Materials</button></div>
                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center" style="background: #332C1F;color: #ffffff;padding: 4px 12px;">
                                    <h6 class="fw-bold m-0" style="color: rgb(255,255,255);"><br>Material Request</h6> 
                                        <button id="seed" class="type">Seed</button>
                                        <button id="fertilizer" class="type">Fertilizer</button>
                                        <button id="pesticide" class="type">Pesticide</button>
                                    <div><a class="btn btn-primary btn-lg" role="button" href="#myModal" data-bs-toggle="modal" style="background: #EDD172;color: #584C33;padding: 2px 12px;font-size: 13px;border-radius: 20px;"><strong>ADD NEW</strong><i class="fa fa-plus" style="margin-left: 5px;"></i><br></a>
                                        <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background: #332C1F;padding: 10px;">
                                                        <h4 style="font-family: Roboto, sans-serif;font-weight: bold;">Modal Title</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-center text-muted">Description </p>
                                                    </div>
                                                    <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group" id="materials_list">
                                        {{#each seed}}
                                        <li class="list-group-item">
                                            <div><span style="color: rgb(58,59,69);font-weight: bold;">{{this.name}}</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                            <div><span>{{this.mat_desc}}</span></div>
                                        </li>
                                        {{/each}}
                                        {{!-- <li class="list-group-item">
                                            <div><span style="color: rgb(58,59,69);font-weight: bold;">Fertilizer</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                            <div><span>October 7, 2021</span></div>
                                        </li> --}}
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center" style="background: #332C1F;color: #ffffff;padding: 4px 12px;">
                                            <h6 class="fw-bold m-0" style="color: rgb(255,255,255);"><br>Material Request</h6>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Pending-&nbsp;</span></li>
                                                <li class="list-group-item"><span>Processing-</span></li>
                                                <li class="list-group-item"><span>Completed-</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center" style="background: #332C1F;color: #ffffff;padding: 4px 12px;">
                                            <h6 class="fw-bold m-0" style="color: rgb(255,255,255);"><br>Supplier Update</h6>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Enroute: Pesticide</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;DA Calapan Inc.</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                                    <div><span>October 7, 2021</span></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Enroute: Pesticide</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;DA Calapan Inc.</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                                    <div><span>October 7, 2021</span></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Enroute: Pesticide</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;DA Calapan Inc.</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                                    <div><span>October 7, 2021</span></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Enroute: Pesticide</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;DA Calapan Inc.</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                                    <div><span>October 7, 2021</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>