<h1>
    {{pest_name}} factors
</h1><br>
{{#each factors}}
<a>{{this.factor}}</a><br>
{{/each}}

<h1>
    {{pest_name}} symptoms
</h1><br>
{{#each symptoms}}
<a>{{this.symptom_name}}</a><br>
{{/each}}