<div class="container-fluid">

       <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;"></a>&nbsp;Diagnose&nbsp;</h3>
    

    <div class="row">

        <div class="col-lg-12 col-xl-12 col-xxl-12">

            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">

                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff; height:auto">

                    <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                        <li class="nav-item"><a id="diagnoses-tab" class="nav-link active" data-toggle="tab" href="#diagnoses"role="tab" aria-controls="diagnoses" aria-selected="true" 
                            style="background: #F0F0F0;">Diagnoses</a></li>

                        <li class="nav-item"><a id="pests-tab" class="nav-link" data-toggle="tab" href="#pests"role="tab" aria-controls="pests" aria-selected="false" 
                            style="background: #F0F0F0;">Pests</a></li>

                        <li class="nav-item"><a id="diseases-tab" class="nav-link" data-toggle="tab" href="#diseases"role="tab" aria-controls="diseases" aria-selected="false" 
                            style="background: #F0F0F0;">Diseases</a></li>
                    </ul>
                        {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div> --}}

                    </div>

                    <div class="card-body">
                            {{!-- TAB CONTENT --}}

                            <div class="tab-content" id="nav-tabContent">

                                {{!-- TAB 1 --}}
                                <div class="tab-pane fade show active" id="diagnoses" role="tabpanel" aria-labelledby="diagnoses-tab">
                                
                                <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterDiagnosesTable" onkeyup="diagnosesFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form>

                                <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;">Add Diagnosis</button>
                                        
                                <div class="table-responsive" style="margin-top: 20px; height: 420px">
                                <table class="table" id="diagnosesTable">
                                    <thead style="color: rgb(255,255,255);">
                                        <tr style="background: #212529;">
                                            <th>Diagnosis ID</th>
                                            <th>Type</th>
                                            <th>Date Diagnosed</th>
                                            <th>Farm Affected</th>
                                            <th>Infestation Level</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td style="color: #584c33;">DG-01</td>
                                            <td style="color: #584c33;">Type</td>
                                            <td style="color: #584c33;">dd/mm/yyyy</td>
                                            <td style="color: #584c33;">Farm Name</td>
                                            <td style="color: #584c33;">Level #</td>
                                            <td style="color: #584c33;">Status</td>
                                            <td style="color: #584c33;"> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                        <tr>
                                            <td style="color: #584c33;">DG-02</td>
                                            <td style="color: #584c33;">Type</td>
                                            <td style="color: #584c33;">dd/mm/yyyy</td>
                                            <td style="color: #584c33;">Farm Name</td>
                                            <td style="color: #584c33;">Level #</td>
                                            <td style="color: #584c33;">Status</td>
                                            <td style="color: #584c33;"> 
                                                
                                            {{!-- <button type="submit" class="btn btn-primary btn-sm" id="more"><i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i></button> --}}
                                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                
                                </div>

                                </div>
                                {{!-- END OF TAB 1 --}}

                                {{!-- TAB 2 --}}
                                <div class="tab-pane fade" id="pests" role="tabpanel" aria-labelledby="pests-tab">
                                
                                <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterPestsTable" onkeyup="pestsFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form>

                                <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;">Add Pest</button>

                                <div class="table-responsive" style="margin-top: 20px; height: 420px">
                                <table class="table" id="pestsTable">
                                    <thead style="color: rgb(255,255,255);">
                                        <tr style="background: #332c1f;">
                                            <th>Pest ID</th>
                                            <th>Name</th>
                                            <th>Total Cases</th>
                                            <th>Active Cases</th>
                                            <th>Resolved Cases</th>
                                            <th></th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td style="color: #584c33;">P-01</td>
                                            <td style="color: #584c33;">Pest Name</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">0</td>
                                            <td style="color: #584c33;"> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                        <tr>
                                            <td style="color: #584c33;">P-02</td>
                                            <td style="color: #584c33;">Pest Name</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">0</td>
                                            <td style="color: #584c33;"> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                    </tbody>

                                </table>
                                
                                </div>
                                    
                                </div>
                                {{!-- END OF TAB 2 --}}

                                {{!-- TAB 3 --}}
                                <div class="tab-pane fade" id="diseases" role="tabpanel" aria-labelledby="diseases-tab">
                                <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterDiseasesTable" onkeyup="diseasesFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form>

                                <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;">Add Disease</button>

                                <div class="table-responsive" style="margin-top: 20px; height: 420px">
                                <table class="table" id="diseasesTable">
                                    <thead style="color: rgb(255,255,255);">
                                        <tr style="background: #332c1f;">
                                            <th>Disease ID</th>
                                            <th>Name</th>
                                            <th>Total Cases</th>
                                            <th>Active Cases</th>
                                            <th>Resolved Cases</th>
                                            <th></th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td style="color: #584c33;">DS-01</td>
                                            <td style="color: #584c33;">Pest Name</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">0</td>
                                            <td style="color: #584c33;"> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                        <tr>
                                            <td style="color: #584c33;">DS-02</td>
                                            <td style="color: #584c33;">Disease Name</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">10</td>
                                            <td style="color: #584c33;">0</td>
                                            <td style="color: #584c33;"> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                    </tbody>

                                </table>
                                
                                </div>
                                    
                                </div>
                                
                                {{!-- END OF TAB 3 --}}

                            </div>
                            {{!-- END OF TAB CONTENT --}}

                        </div>
                    </div>
                </div>
            </div>
    </div>

<script>

var view = "pest_and_disease_diagnoses";

function goBack() {
  window.history.back();
}

function diagnosesFilter() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filterDiagnosesTable");
  filter = input.value.toUpperCase();
  table = document.getElementById("diagnosesTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function pestsFilter() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filterPestsTable");
  filter = input.value.toUpperCase();
  table = document.getElementById("pestsTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function diseasesFilter() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filterDiseasesTable");
  filter = input.value.toUpperCase();
  table = document.getElementById("diseasesTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>