<h1 class="weh">
  FOR TESTING ONLY
</h1>
<input type="button" value="Add New Item" id="newitem">
<input type="button" value="Add New Purchase" id="addPurchase"><br>
<input type="button" value="Get pesticide" id="getPesticide">
<input type="button" value="Get purchase" id="getPurchase"><br>
<input type="button" value="Update material" id="updateMaterial">
<input type="button" value="Update purchase" id="updatePurchase"><br><br><br><br>
<input type="button" value="Add New Farm Item" id="newFarmItem">