<h1 class="weh">
  HATDOPG {{test_data}}
</h1>

<input type="button" value="Add pesticide" id="pesticide">
<input type="button" value="Add seed" id="seed" onclick="addSeed()">
<input type="button" value="Add purchase" id="purchase"><br>
<input type="button" value="Get pesticide" id="getpesticide">
<input type="button" value="Get seed" id="getseed" >
<input type="button" value="Get purchase" id="getpurchase"><br>
<input type="button" value="Update pesticide" id="updatepesticide">
<input type="button" value="Update seed" id="updateseed">
<input type="button" value="Update purchase" id="updatepurchase">