
<div class="m-3">
	<table>
	{{#each list}}
	<tr class="bg-primary" style="cursor: pointer">
		<td class="p-3 text-dark farm_item">{{this.farm_name}}</td>
	</tr>
	{{/each}}	
	</table>
</div>

<div class="m-3">
	<canvas class="my-2 ndvi_chart" id="ndvi_chart" style="height: 150px !important; width: 250px !important;"></canvas>
	
</div>


<script type="text/javascript">
	var view = '';
	jQuery.ajaxSetup({async: false });

	function formatDate(date, format) {
		var year,month,day;
		const monthNames = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun",
		  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
		];
		year = date.getFullYear();
		month = date.getMonth()+1;
		day = date.getDate();

		if (format === 'MM/DD/YYYY') {
			if (month < 10)
				month = '0'+month;
			if (day < 10)
				day = '0'+day;
			date = month+'/'+day+'/'+year;
		}
		else if (format === 'YYYY-MM-DD') {
			if (month < 10)
				month = '0'+month;
			if (day < 10)
				day = '0'+day;
			date = year+'-'+month+'-'+day;
		}

		return date;
	}


	function setChartOptions1(options) {
		var opts = {
			type: 'line',
			options: {
				title: {
				},
				plugins: {
					legend: {
					}
				},
				scales: {
					y: {
						ticks: {
							display: true
						},
						grid: {
							display: false
						}
					},
					x: {
						grid: {
							display: false
						}
					}

				}
			}
		}

		opts['data'] = options.data;
		var min = Math.min(...opts.data.datasets[0].data), max = Math.max(...opts.data.datasets[0].data);
		min -= 0.1;
		max += 0.1;

		opts.options.scales.y['suggestedMin'] = min;
		opts.options.scales.y['max'] = max;

		return opts;
	}

	function processChartData1(arr) {
		var data = { labels: [], datasets: [] };
		var dataset_obj = { label: 'Current NDVI', data: [], fill: false,
		borderColor: "#bae755", borderWidth: 1, backgroundColor: "#FFFACD" };
		for (var i = 0; i < arr.length; i++) {
			data.labels.push(arr[i].dt);
			dataset_obj['data'].push((arr[i].data.max));
		}
		data.datasets.push(dataset_obj);

		return data;
	}

	var view = 'farm_monitoring_test';
</script>