<style>

table td, th {
    color:#332C1F;
} 

li > span {
    color:#332C1F;
}

</style>

<div class="container-fluid" style="color: #332C1F;">

    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{title}}</h3>
        <a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>

    <!-- {{!-- HEADER --}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div> -->

    <div class="row">
        {{!-- <div class="col-lg-12 col-xl-12 col-xxl-12"> --}}
        <div class="col-lg-12 col-lg-12 col-xxl-12">

            {{!-- CARD --}}
            <div class="card shadow mb-4" style="max-width: 1150px; margin: 0px auto;">

            {{!-- START CARD HEADER --}}
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    
                    <div class="col" style="max-width: 70px; padding-top: 2px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='window.location="/crop_calendar"'> <!-- Replaced the javascript back function because the page top function is also being considered in the window history -->
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                    </div>

                    <div class="col" style="margin-right: 650px; padding-top: 15px">
                        <h6>New Crop Calendar </h6>
            
                    </div>


                    {{!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: #BDBE14;font-weight: bold;border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;">Farms</button><a class="btn btn-primary" role="button" style="margin-left: 10px;background: rgba(189,190,20,0);border-style: none;border-color: var(--bs-pink);padding: 4px 10px;" href="Materials.html">Materials</a></div> --}}
                    {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                        </div>
                    </div> --}}
                </div>
                {{!-- END CARD HEADER --}}

                {{!-- START CARD BODY --}}
                <div class="card-body">

                {{!-- START FORM --}}
              	<form autocomplete="off" method="post" action="/create_crop_plan" id="crop_calendar_form">
                    
                    {{!-- STEP 1 --}}
                    <div class="tab">
                    <div class="modal_body_content" id="body_step1">
                            <h5 for="" style="font-weight: bold; padding-bottom: 5px; padding-top: 10px">Step 1: Select Key Dates and Farm</h5>

                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col">
                                <label for="crop_plan">Crop Plan <span style="color: #CA4E0C;">*</span></label>
			                    <input type="text" readonly class="form-control" id="crop_plan" name="crop_plan" value="">

                                </div>

                                <div class="col">
                                <label for="farm_id">Farm <span style="color: #CA4E0C;">*</span></label>
                                <select class="form-select" id="farm_id" name="farm_id">
                                </select>

                                </div>

                                </div>
                            </div>

                            <div class="form-group" style="background-color: #EEEEEE; padding: 20px; border-radius: 10px;  outline: 1px solid #e3e6f0;">      
                        
                                <label for="" style="font-weight: bold">Farm Details</label>

                                <center>
                                        <div class="row" style="padding-left: 5px;">
                                        
                                        <div class="col">
                                        <label for="farm_desc" style="font-weight: bold;">Description</label>
		                                 <div id="farm_desc">
                                        
		                                </div>
                                        </div>

                                        <div class="col">
                                        <label for="land_type" style="font-weight: bold;">Land Type</label>
		                                <div id="land_type">
                                        
		                                </div>
                                        </div>

                                        <div class="col">
                                        <label for="farm_area" style="font-weight: bold;">Farm Area </label>
                                        <div id="farm_area">
                                         
		                                </div>
                                        </div>

                                    </div>
                                </center>

                            </div>

            {{!-- WEATHER FORECAST --}}
            <h6 style="font-weight: bold; padding-bottom: 10px; margin-top: 40px">14-Day Weather Forecast</h6>

            <!-- <label for="forecast_filer">Weather Forecast Filter Date</label>
		    <input type="date" class="form-control" id="forecast_filter" name="forecast_filter" style="width: 450px"> -->

            <div class="forecast_cont" id="weather_forecast" style="margin: 0px auto">

            

			<div class="bg-secondary forecast_body" style="margin-top: 20px">
				<div class="d-flex w-100 px-3 py-2" style="min-height: 50px; background-color: #212529; color: white">
					<div class="" id="icon_detail" style="font-size: 40px;">
						icon
					</div>
					<div class="px-2 d-flex">
						<div style="font-size: 24px;" id="temp_detail">
							Temp
						</div>
						<div style="font-size: 12px;">°C</div>
					</div>
					<div class="" style="font-size: 12px;">
						<div>
							<span>Pressure: </span>
							<span id="precipitation_detail">a</span>
						</div>
						<div>
							<span>Humidity: </span>
							<span id="humidity_detail">a</span>
						</div>
						<div>
							<span>Rainfall: </span>
							<span id="rainfall_detail">a</span>
						</div>
					</div>
					<div class="ml-auto d-flex flex-column float-right">
						<span>Soccoro, Oriental Mindoro</span>
						<span id="weather_day_detail" class="float-right text-right"></span>
						<span id="weather_desc_detail" class="float-right text-right"></span>
					</div>
				</div>

				<div id="" class="d-flex flex-column" data-touch="false" data-interval="false" data-ride="carousel" style="min-height: 200px; background-color: #212529; color: white">
				  <!-- <canvas class="my-2 weather_chart" id="weather_chart"></canvas> -->
                  <div class="carousel-inner weather_table_cont" id="carousel_inner" style="min-height: 150px;">
                    <table  id="weather_table" class="table">
                        
                    </table>

                    <ol class="carousel-indicators" id="page">
                        <li class="week_switch" class="active"></li>
                        <li class="week_switch"></li>
                    </ol>

				  </div>
				</div>
			</div>

			</div>
            {{!-- END OF WEATHER FORECAST --}}

            
            <div class="form-group" style="background-color: #EEEEEE; padding: 20px; margin-top: 20px; border-radius: 10px;  outline: 1px solid #e3e6f0;">  
                <div class="d-flex flex-column mt-2">
    			    <label for="" style="font-weight: bold; padding-bottom: 10px">Weather Outlook</label>
    			    <div class="mx-2 font-weight-bold" id="weather_outlook">
    			      a
    			    </div>
    			</div>

    			<!-- <div class="form-group row d-flex flex-column">
    			    <label for="" style="font-weight: bold; padding-bottom: 10px">Summary</label>
    			    <div class="mx-3" id="weather_summary">
    			      
    			    </div>
    			</div> -->
            </div>

            <h6 style="font-weight: bold;">Land Preparation Dates</h6>
            <div class="form-group" style="margin-left: 5px;">
              <div class="row">

                <div class="col">
                    <label for="land_prep_date_start">From Date <span style="color: #CA4E0C;">*</span></label>
                    <input type="date" class="form-control" id="land_prep_date_start" name="land_prep_date_start">
                </div>

                <div class="col">
                    <label for="land_prep_date_end">To Date <span style="color: #CA4E0C;">*</span></label>
                    <input type="date" class="form-control" id="land_prep_date_end" name="land_prep_date_end" value="">
                </div>

                </div>
            </div>


            </div>
            </div>
            {{!-- END OF STEP 1 --}}

            {{!-- STEP 2 --}}
            <div class="tab">
                <div class="hide modal_body_content" id="body_step2">
                    <h5 for="" style="font-weight: bold;  padding-bottom: 5px; padding-top: 10px">Step 2: Select Sowing Plan</h5>
                    
                    <div class="form-group" style="margin-left: 5px;">
                        <div class="row">

                            <div class="col">
                                <label for="seed_id">Seed  <span style="color: #CA4E0C;">*</span></label>
				                <select class="form-select" id="seed_id" name="seed_id">
				                </select>
                                <input type="hidden" name="seed_maturity_days" id="seed_maturity_days">
                            </div>

                            <div class="col">
                               <label for="seed_rate">Seed Rate (kg/ha) <span style="color: #CA4E0C;">*</span></label>
			                    <input type="text" class="form-control" id="seed_rate" name="seed_rate" placeholder="Qty">
                                <label class="text-muted ml-2" id="seed_qty"></label>
                                <input type="hidden" name="num_seed_bags" id="num_seed_bags" value="">
                            </div>

                        </div>
                        <div class="row w-50">
                            <div class="col">
                                <label for="method">Planting Method <span style="color: #CA4E0C;">*</span></label>
                                <select class="form-select" id="method" name="method">
                                    <option value="Transplanting">Transplanting</option>
                                    <option value="Direct Seeding">Direct Seeding</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h6 style="font-weight: bold; margin-top: 40px">Planting Dates</h6>

                    <div class="form-group" style="margin-left: 5px;">
                        <div class="row">

                            <div class="col" style="padding-top: 10px;">
                                <label for="sowing_date_start">From Date <span style="color: #CA4E0C;">*</span></label>
		                        <input type="date" class="form-control" id="sowing_date_start" name="sowing_date_start">
                            </div>

                            <div class="col" style="padding-top: 10px;">
                                <label for="sowing_date_end">To Date <span style="color: #CA4E0C;">*</span></label>
		                        <input type="date" class="form-control" id="sowing_date_end" name="sowing_date_end">
                            </div>

                        </div>
                    </div>


            {{!-- WEATHER FORECAST --}}
            <h6 style="font-weight: bold; margin-top: 40px"><!-- 14-Day Weather Forecast and  -->Harvest Dates</h6>

            <div class="form-group" style="margin-left: 5px;">

                <div class="row">  
                    <div class="col">
                        <label for="harvest_date_start">From Date <span style="color: #CA4E0C;">*</span></label>
                        <input type="date" readonly class="form-control" id="harvest_date_start" name="harvest_date_start">
                    </div>

                    <div class="col">
                        <label for="harvest_date_end">To Date <span style="color: #CA4E0C;">*</span></label>
                        <input type="date" readonly class="form-control" id="harvest_date_end" name="harvest_date_end">
                    </div>
                </div>

                <div class="row">
            
                    <!-- <div class="col" style="padding-top: 10px;">
                    <label for="forecast_filer">Weather Forecast Filter Date</label>
                    <input type="date" class="form-control" id="forecast_filter" name="forecast_filter">
                    </div> -->

                    <div class="col" style="padding-top: 10px;">
                        <label for="seed_expected_yield">Forecasted Yield (cavans/ha)</label>
                        <input type="text" class="form-control w-50" id="seed_expected_yield" name="seed_expected_yield" value="0 cavans/ha" readonly>
                    </div>

            </div>
            </div>

            <div class="forecast_cont hide" id="weather_forecast" style="margin: 0px auto">
            
			<div class="mx-4 bg-secondary hide forecast_body" style="margin-top: 20px">

			    <div class="d-flex w-100 px-3 py-2" style="min-height: 50px; background-color: #212529; color: white">
					<div class="" id="icon_detail" style="font-size: 40px;">
						icon
					</div>
					<div class="px-2 d-flex">
						<div style="font-size: 24px;" id="temp_detail">
							Temp
						</div>
						<div style="font-size: 12px;">°C</div>
					</div>
					<div class="" style="font-size: 12px;">
						<div>
							<span>Precipitation: </span>
							<span id="precipitation_detail"></span>
						</div>
						<div>
							<span>Humidity: </span>
							<span id="humidity_detail"></span>
						</div>
						<div>
							<span>Rainfall: </span>
							<span id="rainfall_detail"></span>
						</div>
					</div>
					<div class="ml-auto d-flex flex-column float-right">
						<span>Soccoro, Oriental Mindoro</span>
						<span id="weather_day_detail"></span>
						<span id="weather_desc_detail"></span>
					</div>
				</div>

				<div id="" class="" data-touch="false" data-interval="false" data-ride="carousel" style="height: 100px; background-color: #212529; color: white">
				  <div class="carousel-inner" id="carousel_inner">

				  </div>
				</div>
			</div>

			<!-- <ol class="carousel-indicators hide" id="page">
			    <li onclick="switchWeek(0, this)" class="active"></li>
			    <li onclick="switchWeek(1, this)"></li>
			</ol> -->

			</div>
            {{!-- END OF WEATHER FORECAST --}}


                </div>
            </div>
            {{!-- END OF STEP 2 --}}

            {{!-- STEP 3 --}}
            <div class="tab">
                <div class="hide modal_body_content" id="body_step3">
                    <h5 for="" style="font-weight: bold;  padding-bottom: 20px; padding-top: 10px">Step 3: View Fertilizer Plan</h5>
                        
                        {{!-- START CARDS --}}
                        <div class="row">
                                <div class="col-lg-7 col-xxl-8">
                                            <div class="card shadow mb-4">
                                                <div class="card-header mini py-3" style="background: #212529;height: auto;">
                                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Optimization Variables<br></h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive" style="border-style: none;">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Farm Area<br></span> <span class="d-xxl-flex justify-content-xxl-start" id="farm_area_cont"><br></span></td>
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;"><br></span><span class="d-xxl-flex justify-content-xxl-start" id=""><br></span></td>
                                                                </tr>
                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed Type<br></span> <span class="d-xxl-flex justify-content-xxl-start" id="seed_name"><br></span></td>
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed Rate<br></span><span class="d-xxl-flex justify-content-xxl-start" id="seed_rate_cont"><br></span></td>
                                                                </tr>
                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Planting Method<br></span><span class="d-xxl-flex justify-content-xxl-start" id="method_detail"><br></span></td>
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;"><br></span><span class="d-xxl-flex justify-content-xxl-start" id=""><br></span></td>
                                                                </tr>
                                                               <!--  <tr style="border-style: none;">
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">From Date<br></span><span class="d-xxl-flex justify-content-xxl-start">From Date<br></span></td>
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">To Date<br></span><span class="d-xxl-flex justify-content-xxl-start">To Date<br></span></td>
                                                                </tr> -->
                                                                <!-- <tr style="border-style: none;">
                                                                    <table>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </table>
                                                                </tr> -->
                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Forecasted Yield<br></span><span class="d-xxl-flex justify-content-xxl-start" id="seed_expected_yield1"><br></span></td>
                                                                    <!-- <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Forecasted Yield<br></span><span class="d-xxl-flex justify-content-xxl-start">todo<br></span></td> -->
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow mb-4">
                                                <div class="card-header mini py-3" style="background: #212529;height: auto;">
                                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Fertilizer Recommendation Plan<br></h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table" id="fertilizer_recommendation_table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align: left;">Target Application Date</th>
                                                                    <th style="text-align: left;">Fertilizer</th>
                                                                    <th style="text-align: left;">Description</th>
                                                                    <th style="text-align: left;">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="">
                                                                    <td colspan="4" class="my-3">
                                                                        <div class="d-flex justify-content-center w-100">
                                                                            <div class="text-muted text-center">
                                                                                or manually create work order:
                                                                            </div>
                                                                            <div class="float-right">
                                                                                <button type="button" onclick="appendManualWO('#fertilizer_recommendation_table', 0)" class="btn btn-primary" id="add_order">Add Order</button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="align-bottom">
                                                                        <div class="col">
                                                                            <input class="form-control" type="date" name="manual_date" id="manual_date">       
                                                                        </div>
                                                                    </td>
                                                                    <td class="align-bottom">
                                                                        <div class="col">
                                                                            <select class="form-select" name="manual_fertilizer" id="manual_fertilizer">
                                                                                <option value=""></option>
                                                                            </select>    
                                                                        </div>
                                                                    </td>
                                                                    <td class="align-bottom">
                                                                        <div class="col">
                                                                            <textarea type="text" class="form-control" id="manual_desc" name="manual_desc" rows="2" style="resize: none;" placeholder="User generated work order..."></textarea>    
                                                                        </div>
                                                                    </td>
                                                                    <td class="align-bottom">
                                                                        <div class="d-flex">
                                                                            <div class="col">
                                                                                <input class="form-control mr-3" type="number" name="manual_amt" id="manual_amt" min="1" step="1" value="1" style="width: 100px;">
                                                                            </div>
                                                                            <button type="button" onclick="removeManualWO(this)" class="icon-btn-trash"><i class="fas fa-trash"></i></button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="col-lg-5 col-xxl-4">
                                            <div class="card shadow mb-4">
                                                <div class="card-header mini py-3" style="background: #212529;height: auto;">
                                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Soil Data&nbsp;</h6>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><span>Soil Texture</span><span class="float-end">Light Soil</span></li>
                                                        <li class="list-group-item"><span>pH Lvl</span><span class="float-end" id="ph_lvl"></span></li>
                                                        <li class="list-group-item"><span>N (mg/100)</span><span class="float-end" id="n_val"></span></li>
                                                        <li class="list-group-item"><span>P205 (mg/100)</span><span class="float-end" id="p_val"></span></li>
                                                        <li class="list-group-item"><span>K2O (mg/100)</span><span class="float-end" id="k_val"></span></li>
                                                        <li class="list-group-item"><span>Last Soil Test Taken</span>
                                                            <div class="d-flex flex-column float-end">
                                                                <span class="float-end" id="soil_test_date"></span><span class="text-muted" style="font-size: 10px;" id="default_soil">(Using Default Values)</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card shadow mb-4">
                                                <div class="card-header mini py-3" style="background: #212529;height: auto;">
                                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Total Soil Nutrient Requirements<br></h6>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><span>N</span><span class="float-end" id="n_lvl"></span></li>
                                                        <li class="list-group-item"><span>P205 (mg/100)</span><span class="float-end"  id="p_lvl"></span></li>
                                                        <li class="list-group-item"><span>K2O (mg/100)</span><span class="float-end" id="k_lvl"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- END CARDS --}}
                </div>

                </div>
                {{!-- END STEP 3 --}}

                {{!-- STEP 4 --}}
                <div class="tab">
                    <div class="hide modal_body_content" id="body_step4">
                    <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Step 4: View Pesticide Application Plan</h5>

                        <h6 style="font-weight: bold; margin-bottom: 20px">Recently Detected Pests</h6>
                        
                        {{!-- START CARDS --}}

                        {{!-- Maybe the for each handlebar could be used for each detected pest? --}}
                        {{!-- <div class="row">
                            <div class="col-lg-5 col-xxl-4">
                        
                                <div class="card shadow mb-4">
                                    <div class="card-header mini py-3" style="background: #212529;">
                                        <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pest 1<br></h6>
                                    </div>
                                    <div class="card-body" style="height: 250px;">

                                            <div class="table-responsive" style="border-style: none;">
                                            <table class="table" style="height : 250px;">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr style="border-style: none;">
                                                        <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Name<br></span> <span class="d-xxl-flex justify-content-xxl-start" id="">[Name]<br></span></td>
                                                        <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Type<br></span><span class="d-xxl-flex justify-content-xxl-start" id="">[Pest or Disease]<br></span></td>
                                                    </tr>
                                                    <tr style="border-style: none;">
                                                        <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Last Diagnosed<br></span><span class="d-xxl-flex justify-content-xxl-start"  id="">[farm name]<br></span><span class="d-xxl-flex justify-content-xxl-start"  id="">[date]<br></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xxl-8">
                                    <div class="card shadow mb-4">
                                        <div class="card-header mini py-3" style="background: #212529;height: auto;">
                                            <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pesticide Application Plan 1 Information<br></h6>
                                        </div>
                                        <div class="card-body table-responsive" style="height : 250px; padding-left : 1.5rem; padding-right : 1.5rem;">
                                            <table class="table" id="pd_recommendation_table" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: left; width : 25%">Date</th>
                                                        <th style="text-align: left; width : 30%">Prevention</th>
                                                        <th style="text-align: left; width : 40%">Description</th>
                                                        <th style="text-align: left; width : 5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="overflow: auto;">
                                                    <tr>   
                                                        <td style="text-align: left;">Date</td>
                                                        <td style="text-align: left;">Prevention</td>
                                                        <td style="text-align: left;">Description</td>
                                                        <td style="text-align: left;"><input type="checkbox" form="" id="" value=""></td>
                                                    </tr>
                                                    <tr>   
                                                        <td style="text-align: left;">Date</td>
                                                        <td style="text-align: left;">Prevention</td>
                                                        <td style="text-align: left;">Description</td>
                                                        <td style="text-align: left;"><input type="checkbox" form="" id="" value=""></td>
                                                    </tr>
                                                    <tr>   
                                                        <td style="text-align: left;">Date</td>
                                                        <td style="text-align: left;">Prevention</td>
                                                        <td style="text-align: left;">Description</td>
                                                        <td style="text-align: left;"><input type="checkbox" form="" id="" value=""></td>
                                                    </tr>
                                                    <tr>   
                                                        <td style="text-align: left;">Date</td>
                                                        <td style="text-align: left;">Prevention</td>
                                                        <td style="text-align: left;">Description</td>
                                                        <td style="text-align: left;"><input type="checkbox" form="" id="" value=""></td>
                                                    </tr>
                                                    <tr>   
                                                        <td style="text-align: left;">Date</td>
                                                        <td style="text-align: left;">Prevention</td>
                                                        <td style="text-align: left;">Description</td>
                                                        <td style="text-align: left;"><input type="checkbox" form="" id="" value=""></td>
                                                    </tr>
                                                    

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div> --}}
 
                        {{!-- <h6 style="font-weight: bold; margin-bottom: 20px">Recently Detected Diseases</h6> --}}

                        {{!-- If none detected --}}
                        {{!-- <p>No Detected Diseases Yet</p> --}}

                        {{!-- Else, add for each row of cards like the one above --}}
                        
                

                    </div>
                </div>
                {{!-- END STEP 4 --}}

                    </form>
                    {{!-- END FORM --}}

                    <!-- <div class="float-right text-right">
                            <button type="submit" class="btn btn-secondary" id="cancel" onclick="goBack()">X</button>
                            <button type="submit" class="btn btn-primary" id="addFarm" for>Next</button>
                    </div> -->

                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;padding-top:40px;padding-bottom:10px">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                    <div class="modal-footer">
                        <div class="modal_footer_content" id="_step1">
                            <button type="button" class="btn round btn-secondary" value="create_farm_form" onclick='window.location="/crop_calendar"'>Cancel</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step2" onclick="nextPrev(1)">Next</button>
                        </div>

                        <div class="hide modal_footer_content" id="_step2">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step1" onclick="nextPrev(-1)">Back</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step3" onclick="nextPrev(1)">Next</button>
                        </div>

                        <div class="hide modal_footer_content" id="_step3">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step2" onclick="nextPrev(-1)">Back</button>
                            <button type="button" class="btn round btn-primary next_step" value="_step4" onclick="nextPrev(1)">Next</button>
                        </div>

                        <div class="hide modal_footer_content" id="_step4">
                            <button type="button" class="btn round btn-secondary prev_step" value="_step3" onclick="nextPrev(-1)">Back</button>
                            <button type="submit" class="btn round btn-primary" form="crop_calendar_form">Submit</button>
                        </div>

                      </div>

                </div>
                {{!-- END CARD BODY --}}

            </div>
        </div>
    </div>
</div>

<script>
    var view = "add_crop_calendar";
function goBack() {
  window.history.back();
}

// MULTI-STEP FROM INDICATORS

var currentTab = 0; // Current tab is set to be the first tab (0)
var loaded = 0;
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n);
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("crop_calendar_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);

}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

</script>

<script src="../js/crop_calendar.js"></script>