<div class="w-100 mx-3 border border-secondary d-flex flex-column rounded" style="max-width: 600px;">
	<div class="text-white w-100 px-3 py-2 text-center rounded-top bg-dark">
		Weather Data
	</div>
	<div class="w-100 d-flex">
		<div class="form-row ml-3 mt-2">
			<div class="form-group">
				<label class="form-check-label">From: </label>
				<div class="">
				  <input class="form-control " type="date" id="weather_start" name="weather_start" value="">
				</div>
			</div>
			<div class="form-group ml-2">
				<label class="form-check-label">To: </label>
				<div class="">
				  <input class="form-control " type="date" id="weather_end" name="weather_end" value="">
				</div>
			</div>
			<div class="form-group align-bottom ml-3">
				<div class="h-100 align-bottom align-text-bottom mt-2">
					<button type="button" id="weather_filter" class="btn btn-primary float-right mt-3">Filter</button>
				</div>
			</div>
			
		</div>
	</div>
		
	<canvas id="weather_chart" style="width: 500px;"></canvas>
</div>

<div class="w-100 mx-3 border border-secondary d-flex flex-column rounded" style="max-width: 600px;">
	<div class="text-white w-100 px-3 py-2 text-center rounded-top bg-dark">
		Precipitation Data
	</div>
	<!-- <div class="w-100 d-flex">
		<div class="form-row ml-3 mt-2">
			<div class="form-group">
				<label class="form-check-label">From: </label>
				<div class="">
				  <input class="form-control " type="date" id="weather_start" name="weather_start" value="">
				</div>
			</div>
		</div>
	</div> -->
		
	<canvas id="precip_chart" style="width: 500px;"></canvas>
</div>

<div class="w-100 mx-3 border border-secondary d-flex flex-column rounded" style="max-width: 600px;">
	<div class="text-white w-100 py-2 text-center rounded-top bg-dark">
		Weather Outlook
	</div>
	<div class="px-3">
		<div class="d-flex">
			<div>Weather Assessment: </div>
			<div class="ml-auto font-weight-bold">{{outlook.classification}}</div>
		</div>
		<div class="d-flex flex-column">
			<div class="Note"></div>
			<span class="">{{outlook.drought_summary}}</span>
			<span class="">{{outlook.weather_forecast}}</span>
		</div>
	</div>
		
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var weather_chart_data = [];
		var precip_chart_data = {{{precip_data}}};

		var canvas = document.getElementById('weather_chart');
		var date = new Date().toISOString().split('T')[0];
		var start = new Date();
		start.setDate(start.getDate() - 30);
		start = start.toISOString().split('T')[0];

		var weather_chart = new Chart(canvas, {
		  type: 'line',
		  data: weather_chart_data,
		  options: {
		    scales: {
				y: {
					type: 'linear',
					display: true,
					position: 'left',
					ticks: {
	                    // Include a dollar sign in the ticks
	                    callback: function(value, index, values) {
	                        return value+' ℃';
	                    }
	                }
				},
				// y1: {
				// 	type: 'linear',
				// 	display: true,
				// 	position: 'right',
				// 	ticks: {
	   //                  // Include a dollar sign in the ticks
	   //                  callback: function(value, index, values) {
	   //                      return value+' mm';
	   //                  }
	   //              }
				// }
		    }
		  }
		});

		var precipitation_chart = new Chart(document.getElementById('precip_chart'), {
			type: 'line',
		  	data: precip_chart_data,
		 	options: {

		  	}
		});

		$('#weather_start').val(start);
		$('#weather_end').val(date);

		function updateWeatherChart() {
			var start = new Date($('#weather_start').val()), date = new Date($('#weather_end').val());
			$.get('/ajax_weather_chart', { start_date: start, end_date: date }, function(result) {
				weather_chart.data = result.stringify;
				weather_chart.update();
			});
		}

		updateWeatherChart();

		$('#weather_filter').on('click', function() {
			updateWeatherChart();
		});
	})
</script>