<footer class="bg-white sticky-footer pt-3 pb-4" id="footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright" style="padding-top: 10px"><span>Copyright © LA Rice Mill 2021</span></div>
    </div>
</footer>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>