<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #667529;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/home">
            <div class="sidebar-brand-text mx-3"><img src="../../images/LA_logo.png" style="width: 150px;"></div>
        </a>

        <ul class="navbar-nav text-light" id="accordionSidebar" style="margin-top: 20px;">
            
            <li class="nav-item">
                <a class="nav-link {{# if home_tab}}active{{/if}}" href="/"><i class="fas fa-tachometer-alt"></i><span> Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if farm_tab}}active{{/if}}" href="/farms"><i class="fas fa-user"></i><span> Farms</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if calendar_tab}}active{{/if}}" href="/crop_calendar"><i class="fas fa-table"></i><span> Crop Calendar Creation</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if harvest_cycle_tab}}active{{/if}}" href="/harvest_cycle"><i class="far fa-user-circle"></i><span> Harvesting Cycle</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if sms_tab}}active{{/if}}" href="/sms_settings"><i class="fas fa-user-circle"></i><span> SMS Subscriptions</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if pest_and_disease_tab}}active{{/if}}" href="/pest_and_disease_management"><i class="fas fa-user"></i><span> Pests and Diseases</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if nutrient_tab}}active{{/if}}" href="/nutrient_management"><i class="fas fa-table"></i><span> Nutrient Management</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if user_tab}}active{{/if}}" href="/user_settings"><i class="far fa-user-circle"></i><span> User Management</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{# if analytics_tab}}active{{/if}}" href="/farm_analytics"><i class="fas fa-user-circle"></i><span> Farm Productivity Analytics</span></a>
            </li>

        </ul>
    </div>
</nav>