<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #667529;">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-text mx-3"><img src="../../images/LA_logo.png" style="width: 150px;"></div>
        </a>
        <ul class="navbar-nav text-light" id="accordionSidebar" style="margin-top: 20px;">
            <li class="nav-item">
                <a class="nav-link {{# if home_tab}}active{{/if}}" href="/">
                    <i class="fas fa-tachometer-alt" style="font-size: 16px;margin-right: 6px;"></i>
                    <span style="font-size: 16px;">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <div class="nav-item dropdown show text-decoration-none" style="text-decoration: none;padding: 16px;margin-bottom: 0px;">
                    <a aria-expanded="true" data-bs-toggle="dropdown" class="dropdown-lbl text-decoration-none {{# if farm_tab}}active{{/if}}{{# if monitor_farms_tab}}active{{/if}}" href="" style="">
                        <i class="fas fa-warehouse" style="margin-right: 6px;"></i>Farms
                    </a>
                    <div class="dropdown-menu show" style="">
                        <a class="dropdown-item {{# if farm_tab}}active{{/if}}" href="/farms" style="">Work Orders</a>
                        <a class="dropdown-item {{# if monitor_farms_tab}}active{{/if}}" href="/farm_monitor_test" style="">Farm Monitoring</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="nav-item dropdown text-decoration-none" style="text-decoration: none;padding: 16px;margin-bottom: 0px;">
                    <a aria-expanded="true" data-bs-toggle="dropdown" class="dropdown-lbl text-decoration-none" href="#" style="">
                        <i class="fa fa-th-list" style="margin-right: 6px;"></i>Material Management
                    </a>
                    <div class="dropdown-menu show" style="">
                        <a class="dropdown-item {{# if inventory_tab}}active{{/if}}" href="/inventory" style="">Inventory</a>
                        <a class="dropdown-item {{# if orders_tab}}active{{/if}}" href="/orders" style="">Orders</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" style="">
                <div class="nav-item dropdown " style="margin-bottom: 0px;padding: 16px;">
                    <a aria-expanded="true" data-bs-toggle="dropdown" class="dropdown-lbl text-decoration-none" href="#" style=""><i class="dropdown-lbl fas fa-bug" style="margin-right: 6px;"></i>Pest and Disease
                    </a>
                    <div class="dropdown-menu show" style="">
                        <a class="dropdown-item" href="#" style="">Discover</a>
                        <a class="dropdown-item" href="#" style="">Diagnose</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" style="">
                <div class="nav-item dropdown show" style="margin-bottom: 0px;padding: 16px;">
                    <a aria-expanded="true" data-bs-toggle="dropdown" class="dropdown-lbl text-decoration-none {{# if nutrient_discover_tab}}active{{/if}}{{# if nutrient_diagnose_tab}}active{{/if}}" href="#" style=""><i class="fas fa-balance-scale-left" style="margin-right: 6px;"></i>Nutrient Management
                    </a>
                    <div class="dropdown-menu show" style="">
                        <a class="dropdown-item {{# if nutrient_discover_tab}}active{{/if}}" href="/nutrient_management" style="">Soil Analysis</a>
                        <a class="dropdown-item {{# if nutrient_diagnose_tab}}active{{/if}}" href="/nutrient_management/LA Farm (API Paid)" style="">Nutrient Analysis</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" style="">
                <a class="nav-link dropdown-lbl" href="table.html" style=""><i class="fas fa-table" style="font-size: 16px;"></i><span style="font-size: 16px;">User Management</span>
                </a>
            </li>

            <li class="nav-item" style="">
                <a class="nav-link dropdown-lbl" href="login.html" style=""><i class="far fa-chart-bar" style="font-size: 16px;"></i><span style="font-size: 16px;">Farm Productivity Reports</span>
                </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
    </div>
</nav>