/** UI Color Theme **/
.primary {
	background-color: #DEB887;
}
.secondary {
	background-color: #FAEBD7;
}

.tertiary {

}

.btn.round {
	border-radius:  50px !important;
}

.btn-primary {
	background-color: #EDD172;
	border-color: #EDD172;
	color: #584C33;
	font-weight: bold;
}

.btn-secondary {
	 background-color: #BDBDBD;
   border-color: #BDBDBD;
}

/*html {
	position: relative;
	min-height:  100% !important;
	height:  100px !important;
	display:  block;
}*/

.detailed_cont input, .detailed_cont select {
	height: calc(1.5em + 0.75rem + 2px) !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	font-weight: 400;
	line-height: 1.5;
	color: #6e707e;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.detailed_cont textarea {
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.detailed_cont select {
	word-wrap: normal;
}

.detailed_cont input[readonly],
.detailed_cont select[readonly],
.detailed_cont textarea[readonly] {
	background-color: #eaecf4;
    opacity: 1;
}

body {
	display:  block;
	height:  100vh;
	padding:  0px;
}

.main_container {
	min-height:  100% !important;
	height: auto;
	display:  flex;
	z-index: 0;
}

.sidebar_container {
	width:  14rem !important;
	min-height:  100% !important;
	height: auto;
}

.body_container {
	width:  calc(100% - 14rem) !important;
	background-color: white;
	overflow-x: hidden;
}

.navbar {
	height: 100%;
}

.active {
	color:  #fff !important;
}

.dropdown-item:hover {
	color:  white;
}

.dropdown-item, .dropdown-lbl, .dropdown-lbl i, .dropdown-lbl span {
	background: #667529 !important;
	color: rgba(255,255,255,.5);
	font-size: 16px;
}

.dropdown-menu {
	background: #667529;
	border-style: none;
	color: rgb(255,255,255);
}


.dropdown-lbl {

}

.topbar {
	height:  4.375rem !important;
}

.copyright {
	font-size: .8rem;
	color: #6c757d!important;
}

.hide {
	display: none !important;
}

.forecast_body {
	border-radius: 5px;
	min-height:  150px;
}

.forecast_cont {
	min-height:  150px;
}

.forecast_card {
	background-color: white !important;
	border-radius:  5px;
	margin:  8px;
}

.weather_chart {
	max-height: 180px;
}

.weather_table_cont {

}

.forecast_card:hover {
	background-color: gainsboro !important;
	cursor: pointer;
}

.forecast_card.selected {
	border:  3.5px solid #FFA500 !important;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.inp-error {
	margin-top:  10px;
	padding: 5px;
	width:  100%;
	border: 2px solid red;
	border-radius: 4px;
	line-height: 1;
	padding: 2px 0 6px 6px;
	background: #ffe6eb;
	color:  red;
	font-weight:  bold;
}

.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.password-strength {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.bar-cont {
	margin-top:  13px;
}

.js-hidden {
  display: none;
}

.farm_li {
	transition: all .01s;
}

.farm_li:hover {
	cursor:  pointer;
	transform: scale(1.004);
}

.weather_table {
	display:  block;
	overflow-x:  auto;
	white-space: nowrap;
}

.weather_table th {
	display:  table-cell;
	font-weight:  bold;
	vertical-align:  inherit;
	border-radius:  5px;
}

.weather_table th:hover {
	background-color: gainsboro;
	cursor: pointer;
}


tr {
	height: 40px;
}

.clickable:hover{
	background-color: #c9c9c9;
}

div.scrollmenu {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
  }

  div.scrollmenu div {
	text-decoration: none;
	white-space: normal;
  }

  .symptom-card{
	  max-width: 300px;
	  min-width: 300px;
	  min-height: 200px;
	  max-height: 200px;
	  text-align: justify;
	  margin-right: 10px;
  }

.wo-card{
	max-width: 400px;
	min-width: 400px;
	min-height: 200px;
	max-height: 200px;
	text-align: justify;
	margin-right: 15px;
	padding-top : 5px; 
	padding-left : 10px; 
	padding-right : 10px;
}

.link {
	color:  #0000FF;
}

.link:hover {
	color:  #800000;
	cursor:  pointer;
	text-decoration: underline;
}

.farm_inventory{
	background-color: #eeeeee;
	border-radius: 0.4rem;
	transition: transform .2s;
}

.farm_inventory:hover{
	background-color: #e9e9e9;
	-ms-transform: scale(1.1); /* IE 9 */
  	transform: scale(1.1); 
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(182, 182, 182); 
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(175, 175, 175); 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #838383; 
  }

  .loader {
	margin-left: 40%;
	top: 50%;
	transform: translate(0, -50%);
	padding: 10px;

	position : fixed;
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #a9a9a9; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }



  .calendar-wos{
	width: 100%; padding : 10px; 
	justify-content: left; 
  }


  .Pending{
	color : purple;
}
.Processing{
	color : rgb(214, 127, 93);
}
.Purchased{
	color : rgb(138, 230, 0);
}
.Completed{
	color : rgb(138, 230, 0);
}

.current_wo{
	background-color: rgb(255, 248, 222);
}

.Present {
	color: red;
}