<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  
  <!-- Insert JQuery, CSS here !-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{{body}}}
sadas

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../assets/js/ajax.js"></script>
<link rel="stylesheet" href="../assets/css/test.css">

<script type="text/javascript">
  var name = 'trial';
// var obj = {type:"Feature",properties:{},geometry:{type:"Polygon",coordinates:[[[108.07251,11.87151],[106.90357,11.89734],[106.56079,11.25955],[108.07251,11.87151]]]}};

 var obj = {"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[108.6232,11.33567],[108.62224,11.3296],[108.61798,11.33297],[108.6232,11.33567]]]}};

</script>

<script type="text/javascript" src="/js/apiHandler.js"></script>

</body>

</html>